@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <h1>Welcome to the ASP.NET Core MVC Lab6.WebApp with Auth0</h1>
        <h3>About application:</h3>
        <ul>
            <li>Functions:
                <ol>
                    <li>Calculate app "Heads&Tails"</li>
                    <li>Calculate app "DoodleJump"</li>
                    <li>Calculate app "MysticChess"</li>
                </ol>
            </li>
            <li>Apps commands are realised by McMaster-CommandLineUtils</li>
            <li>Authorisation method provided by OAuth2</li>
        </ul>
    </div>
</div>
