@{
    ViewData["Title"] = "Heads And Tails App";
}

<div class="row">
    <div class="col-md-12">
        <h1><strong>Mystic Chess<strong></h1>
        <p>
            <h3><strong>Condition:</strong></h3>
            <h4>
                
            </h4>
        </p>
        <p>
            <h3><strong>Input data:</strong></h3>
            <h4>
                
            </h4>
        </p>
        <p>
            <h3><strong>Output data:</strong></h3>
            <h4></h4>
        </p>
        <p style="display: flex; flex-position: row;">
            <h3>N:<input required></input></h3>
            <h3>M:<input required></input></h3>
        </p>
        <h3>Result:<input readonly></input></h3>
        <h3><button><strong>Execute<strong></button></h3>
    </div>
</div>
