@{
    ViewData["Title"] = "Heads And Tails App";
}

<div class="row">
    <div class="col-md-12">
        <h1><strong>Mystic Chess<strong></h1>
        <p>
            <h3><strong>Condition:</strong></h3>
            <h4>
                Ваш друг Вася займається розробкою комп'ютерної гри "Міфічні шахи". Він не укладається у встановлений термін здачі проекту.
                Вася звернувся до друзів по допомогу. Йому необхідний модуль, що обчислює оптимальні шляхи переміщення фігур із однієї клітини до іншої. Так як друзів у Васі багато, то кожному дісталося маленьке підзавдання. Вам потрібно написати програму, яка визначає мінімальну кількість ходів, необхідну кентавру, щоб дістатися з однієї клітини до іншої.
                У міфічні шахи грають на шахівниці розміром 9х9, кутові клітини якої пофарбовані в чорний колір. Кентавр - фігура міфічних шахів, що поєднує в собі властивості коня та слона. Коли кентавр стоїть на білій клітці, він може ходити лише як кінь, а коли на чорній – тільки слон. На рисунках наведено варіанти ходів для двох кентаврів (літерою «K» відзначено місце розташування кентавра, а зірочками – клітини, куди кентавр може зробити хід).
            </h4>
        </p>
        <p>
            <h3><strong>Input data:</strong></h3>
            <h4>
                У першому рядку вхідного файлу INPUT.TXT містяться координати (велика англійська літера та цифра) двох клітин дошки для міфічних шахів, розділені пробілом.
            </h4>
        </p>
        <p>
            <h3><strong>Output data:</strong></h3>
            <h4>
                У вихідний файл OUTPUT.TXT виведіть мінімальну кількість ходів, необхідну кентавру, щоб дістатися з першої клітини до другої. Якщо дістатися неможливо, слід вивести число «-1» (без лапок).
            </h4>
        </p>
        <p style="display: flex; flex-position: row;">
            <h3>Input:<input placeholder="A2 C6" required></input></h3>
        </p>
        <h3>Result:<input readonly></input></h3>
        <h3><button><strong>Execute<strong></button></h3>
    </div>
</div>
