@{
    ViewData["Title"] = "Heads And Tails App";
}

<div class="row">
    <div class="col-md-12">
        <h1><strong>Doodle Jump<strong></h1>
        <p>
            <h3><strong>Condition:</strong></h3>
            <h4>
                Чи можете ви згадати хоч одного свого знайомого до двадцятирічного віку, який у дитинстві не грав у комп'ютерні ігри? Якщо так, то може бути ви й самі не знайомі з цією розвагою? Втім, труднощів при вирішенні цього завдання створити не повинно.
                У багатьох старих іграх із двовимірною графікою можна зіткнутися з подібною ситуацією. Якийсь герой стрибає по платформах (або острівцям), які висять у повітрі. Він повинен перебратися від краю екрана до іншого. При цьому при стрибку з однієї платформи на сусідню, у героя йде | y2-y1 | одиниць енергії, де y1 та y2 – висоти, на яких розташовані ці платформи. Крім того, у героя є суперприйом, який дозволяє перескочити через платформу, але на це витрачається 3*|y3-y1| одиниць енергії. Звичайно, енергію слід витрачати максимально економно.
                Припустимо, що вам відомі координати всіх платформ у порядку від лівого краю до правого. Чи зможете ви знайти, яка мінімальна кількість енергії знадобиться герою, щоб дістатися з першої платформи до останньої?
            </h4>
        </p>
        <p>
            <h3><strong>Input data:</strong></h3>
            <h4>
                У першому рядку вхідного файлу INPUT.TXT записано кількість платформ n (1 ≤ n ≤ 30000). Другий рядок містить n натуральних чисел, що не перевищують 30000 – висоти, на яких розташовуються платформи.
            </h4>
        </p>
        <p>
            <h3><strong>Output data:</strong></h3>
            <h4>
                У вихідний файл OUTPUT.TXT запишіть однину - мінімальну кількість енергії, яку повинен витратити гравець на подолання платформ (звичайно ж у припущенні, що cheat-коди використовувати не можна).
            </h4>
        </p>
        <form asp-action="Calculate" asp-controller="DoodleJump" method="get">
            <h3>Number of platforms:<input type="text" name="numberOfPlatforms" placeholder="3" required></input></h3>
            <h3>Heights of platforms:<input type="text" name="heights" placeholder="1, 5, 7" required></input></h3>
            <h3>Result:<input type="text" name="result" value="@ViewData["Result"]" readonly></input></h3>
            <h3><button type="submit"><strong>Execute<strong></button></h3>
        </form>
    </div>
</div>
