@{
    ViewData["Title"] = "Heads And Tails App";
}

<div class="row">
    <div class="col-md-12">
        <h1><strong>Heads And Tails<strong></h1>
        <p>
            <h3><strong>Condition:</strong></h3>
            <h4 align="justify">
                Петя грає у цікаву гру. Для цієї гри потрібна монетка. Петя підкидає її n разів і вважає, скільки разів випадає «решка». Якщо решка випадає хоча б m разів, Петя вважає, що він виграв гру.
                Якось Петя задумався, яка ймовірність того, що він виграє гру. Для цього він хоче знайти кількість послідовностей результатів підкидання монетки, що містять рівно n підкидань, при яких "рішка" випала хоча б m разів.
                Допоможіть Петі - знайдіть це число, вважаючи, що при кожному кидку монета може випасти або "орлом", або "решкою".
            </h4>
        </p>
        <p>
            <h3><strong>Input data:</strong></h3>
            <h4>
                Вхідний файл INPUT.TXT містить два цілих числа: n і m (1 ≤ n ≤ 20, 0 ≤ m ≤ n).
            </h4>
        </p>
        <p>
            <h3><strong>Output data:</strong></h3>
            <h4>У вихідний файл OUTPUT.TXT виведіть відповідь на завдання.</h4>
        </p>
        <p style="display: flex; flex-position: row;">
            <h3>N:<input required></input></h3>
            <h3>M:<input required></input></h3>
        </p>
        <h3>Result:<input readonly></input></h3>
        <h3><button><strong>Execute<strong></button></h3>
        <p>Made by <a href="https://github.com/VolodymyrShapoval/CrossPlatform">Volodymyr Shapoval</a>.
    </div>
</div>
